* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header a {
  color: black;
}
body {
  margin: auto;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

li {
  display: inline;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  flex-direction: column;
}

img {
  display: inline;
}

#form {
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.548);
  width: 500px;
  height: 35px;
  font-size: 30px;
  margin-top: 20px;
  display: flex;
  padding-left: 10px;
}
input {
  width: 90%;
  border: 0;
}
#buttons {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#buttons button {
  border-radius: 8px;
  border: 0;
}

#buttons button:hover {
  background-color: rgba(213, 214, 218, 0.973);
  border: 1px solid black;
}

button {
  height: 36px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;

  border-top: 0.5px solid rgba(68, 66, 66, 0.54);
  padding-top: 10px;
}
footer a {
  color: rgba(0, 0, 0, 0.54);
}

#sign {
  background-color: #1373f9;
  color: white;
  width: 80px;
  border-radius: 4px;
  font-weight: bold;
  border: 0;
}

#sign:hover {
  background-color: #468ffc;
}

a {
  font-style: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="text"]:focus {
  outline: none;
}
